# Data cleaning exercise

In [2]:
import pandas as pd
import numpy as np
s_2017 = pd.read_csv("Sales Transactions-2017.csv")
s_2018 = pd.read_csv("Sales Transactions-2018.csv")
s_2019 = pd.read_csv("Sales Transactions-2019.csv")
sales_clean_data = pd.read_csv("Sales-Transactions-Edited.csv")

In [3]:
sales_data = pd.concat([s_2017, s_2018, s_2019])

In [4]:
sales_data.shape

(111206, 9)

In [5]:
sales_clean_data.shape

(95562, 6)

In [6]:
sales_data.dtypes

Date              object
Voucher           object
Party             object
Product           object
Qty               object
Rate              object
Gross             object
Disc              object
Voucher Amount    object
dtype: object

In [7]:
sales_clean_data.dtypes

Date        object
Voucher      int64
Party       object
Product     object
Qty          int64
Rate       float64
dtype: object

In [8]:
sales_data.head()

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN

In [9]:
sales_clean_data.head()

       Date  Voucher               Party            Product  Qty    Rate
0  1/4/2017        1    SOLANKI PLASTICS      DONA-VAI-9100    2  1690.0
1  1/4/2017        1    SOLANKI PLASTICS    LITE FOAM(1200)    6  1620.0
2  1/4/2017        2  SARNESWARA TRADERS  VISHNU CHOTA WINE  500    23.0
3  1/4/2017        2  SARNESWARA TRADERS    LITE FOAM(1200)    6  1620.0
4  1/4/2017        2  SARNESWARA TRADERS      DONA-VAI-9100    5  1690.0

In [8]:
sales_data['Date'] = pd.to_datetime(sales_data['Date'], errors='coerce')

In [9]:
sales_data['Voucher']=sales_data['Voucher'].str.replace('Sal:',"")
sales_data['Voucher'] = pd.to_numeric(sales_data['Voucher'], errors='coerce')
sales_data['Voucher'] = sales_data['Voucher'].replace(np.nan, 0, regex=True)
sales_data['Voucher'] = sales_data['Voucher'].astype(int)

In [10]:
sales_data['Qty'] = pd.to_numeric(sales_data['Qty'], errors='coerce')
sales_data['Qty'] = sales_data['Qty'].replace(np.nan, 0, regex=True)
sales_data['Qty'] = sales_data['Qty'].astype(int)

In [11]:
sales_data['Rate'] = pd.to_numeric(sales_data['Rate'], errors='coerce')

In [12]:
sales_data = sales_data.iloc[:, 0:6]

In [13]:
sales_data.isna().sum()

Date       15644
Voucher        0
Party         40
Product    12591
Qty            0
Rate       21454
dtype: int64

In [14]:
sales_data = sales_data.dropna(subset = ["Date"], inplace=False)

In [15]:
sales_data.dtypes

Date       datetime64[ns]
Voucher             int32
Party              object
Product            object
Qty                 int32
Rate              float64
dtype: object

In [16]:
sales_clean_data.dtypes

Date        object
Voucher      int64
Party       object
Product     object
Qty          int64
Rate       float64
dtype: object

In [17]:
sales_data.shape

(95562, 6)

In [18]:
sales_clean_data.shape

(95562, 6)