## One sample t-test

1. 20 students were chosen to perform a surprise test. Can teacher be 95% confident that mean score for the class would be 70 ?
marks are 60, 63, 66, 69, 72, 75, 78, 81, 84, 65, 67, 69, 71, 73, 75, 77, 79,72, 77, 82

In [1]:
import numpy as np
marks = [60, 63, 66, 69, 72, 75, 78, 81, 84, 65, 67, 69, 71, 73, 75, 77, 79,72, 77, 82]

- Null H : mean = 70 
- Alter H : mean != 70                     # two tailed t test

In [2]:
from scipy import stats
t_val, p_val = stats.ttest_1samp(marks, popmean = 70)
t_val, p_val

(1.8700561025246263, 0.07696460762867534)

In [3]:
p_val = p_val/2

In [4]:
if p_val < 0.05:
    print("we reject the null hypothesis, there is significant difference between average class marks and average marks scored by 20 students sample")
else:
    print("we do not reject the null hypothesis, there is no significant difference between average class marks and average marks scored by 20 students sample")

we reject the null hypothesis, there is significant difference between average class marks and average marks scored by 20 students sample

-----------------------------------------------------------------------------------------------------------------------------

2. We have the potato yield from 12 different farms. We know that the standard potato yield for the given variety is µ=20.
x = [21.5, 24.5, 18.5, 17.2, 14.5, 23.2, 22.1, 20.5, 19.4, 18.1, 24.1, 18.5] 
Test if the potato yield from these farms is significantly better than the standard yield.

In [5]:
x = [21.5, 24.5, 18.5, 17.2, 14.5, 23.2, 22.1, 20.5, 19.4, 18.1, 24.1, 18.5]

- Null H : mean = 20
- Alter H : mean > 20

In [6]:
np.mean(x)

20.175

In [7]:
t_val, p_val = stats.ttest_1samp(x, popmean = 20)
t_val, p_val

(0.2006562773994862, 0.8446291893053613)

In [8]:
if p_val < 0.05:
    print("we reject the null hypothesis, there is significant difference between average standard potato yield and average sample standard potato yield")
else:
    print("we do not reject the null hypothesis, there is no significant difference between average standard potato yield and average sample standard potato yield")

we do not reject the null hypothesis, there is no significant difference between average standard potato yield and average sample standard potato yield

-------------------------------------------------------------------------------------------------------------------------------

## Two sample t-test

1. Compare the effectiveness of ammonium chloride and urea, on the grain yield of paddy, an experiment was conducted. The results are given below:

- Ammonium_chloride=[13.4,10.9,11.2,11.8,14,15.3,14.2,12.6,17,16.2,16.5,15.7]
- Urea=[12,11.7,10.7,11.2,14.8,14.4,13.9,13.7,16.9,16,15.6,16]

In [9]:
ammonium_chloride=[13.4,10.9,11.2,11.8,14,15.3,14.2,12.6,17,16.2,16.5,15.7]
urea=[12,11.7,10.7,11.2,14.8,14.4,13.9,13.7,16.9,16,15.6,16]

- Null H = effect of ammonium chloride and urea are same => mean1 = mean2
- Alter H = effect of ammonium chloride and urea are not same => mean1 != mean2

In [10]:
t_val, p_val = stats.ttest_ind(a = ammonium_chloride, b = urea)
t_val, p_val

(0.1846496543760765, 0.8551954147800473)

In [11]:
p_val = p_val/2                                    # two tailed t test

In [12]:
p_val

0.4275977073900237

In [13]:
if p_val < 0.05:
    print("we reject the null hypothesis, there is significant difference between average effectiveness of ammonium chloride and urea")
else:
    print("we do not reject the null hypothesis, there is no significant difference between average effectiveness of ammonium chloride and urea")

we do not reject the null hypothesis, there is no significant difference between average effectiveness of ammonium chloride and urea

In [14]:
np.mean(ammonium_chloride)

14.066666666666665

In [15]:
np.mean(urea)

13.908333333333333

------------------------------------------------------------------------------------------------------------------------------

2. A genetic engineering company claims that it has developed a genetically modified tomato plant that yields on average more tomatoes than other varieties. Ten genetically modified tomato plants are grown from seeds along with ten other tomato plants. At the season’s end, the resulting yields in pound are recorded as below.

genetically_modified :20,23,27,25,25,25,27,23,24,22
regular:21,21,22,18,20,20,18,25,23,20

Test, at the 1% level of significance, whether the data provide sufficient evidence to conclude that the mean yield of the genetically modified variety is greater than that for the standard variety.

In [16]:
gen_modified = [20,23,27,25,25,25,27,23,24,22]
regular = [21,21,22,18,20,20,18,25,23,20]

- Null H : mean yield of the genetically modified variety is not greater than that for the standard variety,  (mean1=mean2)
- Alter H : mean yield of the genetically modified variety is greater than that for the standard variety,  (mean1>mean2)

In [17]:
t_val, p_val = stats.ttest_ind(a = gen_modified, b = regular)
t_val, p_val

(3.405703534961219, 0.0031514458525365788)

In [18]:
if p_val < 0.01:
    print("we reject the null hypothesis, there is significant difference between mean yield of the genetically modified variety and for the standard variety")
else:
    print("we do not reject the null hypothesis, there is no significant difference between mean yield of the genetically modified variety and for the standard variety")

we reject the null hypothesis, there is significant difference between mean yield of the genetically modified variety and for the standard variety

In [19]:
np.mean(gen_modified)

24.1

In [20]:
np.mean(regular)

20.8

------------------------------------------------------------------------------------------------------------------------------

## Paired t-test

1. Eleven schoolboys were given a test in Statistics. They were given a Month’s tuition and a second test were held at the end of it. Do the marks give evidence that the students have benefited from the exam coaching?

Marks in 1st test: 23 20 19 21 18 20 18 17 23 16 19

Marks in 2nd test: 24 19 22 18 20 22 20 20 23 20 18

In [21]:
first_test =[23, 20, 19, 21, 18, 20, 18, 17, 23, 16, 19]
second_test=[24, 19, 22, 18, 20, 22, 20, 20, 23, 20, 18]

- Null H: The students have not benefited from the tuition class.
- Alter H: The students have benefited from the tuition class.

In [22]:
t_val, p_val = stats.ttest_rel(a = first_test, b = second_test)

In [23]:
if p_val < 0.05:
    print("we reject the null hypothesis, there is significant difference between average marks obtained in first test and second test, which shows the students have not benefited from the tuition class")
else:
    print("we do not reject the null hypothesis, there is no significant difference between average marks obtained in first test and second test, which shows the students have benefited from the tuition class")

we do not reject the null hypothesis, there is no significant difference between average marks obtained in first test and second test, which shows the students have benefited from the tuition class

In [24]:
np.mean(first_test)

19.454545454545453

In [25]:
np.mean(second_test)

20.545454545454547

------------------------------------------------------------------------------------------------------------------------------

2. Each of five laboratory mice was released into a maze twice. The five pairs of times to escape were:
- First release: 129	89	136	163	118
- Second release	113	97	139	85	75

Test, at the 10% level of significance, the hypothesis that it takes mice less time to run the maze on the second trial, on average.

In [26]:
first_release = [129,89,136,163,118]
second_release = [113,97,139,85,75]

- Null H: the mice doesnt take less time on second trial.
- Alter H: the mice takes less time on second trial.

In [27]:
t_val, p_val = stats.ttest_rel(a = first_release, b = second_release)

In [28]:
if p_val < 0.1:
    print("we reject the null hypothesis, there is significant difference between average escape time in first and second release, which means the mice doesnt take less time on second trial")
else:
    print("we do not reject the null hypothesis, there is no significant difference between average escape time in first and second release, which means the mice takes less time on second trial")

we do not reject the null hypothesis, there is no significant difference between average escape time in first and second release, which means the mice takes less time on second trial

In [29]:
np.mean(first_release)

127.0

In [30]:
np.mean(second_release)

101.8

-----------------------------------------------------------------------------------------------------------------------------

## Chi-Square Test

In [31]:
import pandas as pd
ins_data = pd.read_csv('insurance.csv')

In [32]:
ins_data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [33]:
ins_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [34]:
ins_data.describe(include = 'all')

,age,sex,bmi,children,smoker,region,charges
count,1338.000000,1338,1338.000000,1338.000000,1338,1338,1338.000000
unique,NaN,2,NaN,NaN,2,4,NaN
top,NaN,male,NaN,NaN,no,southeast,NaN
freq,NaN,676,NaN,NaN,1064,364,NaN
mean,39.207025,NaN,30.663397,1.094918,NaN,NaN,13270.422265
std,14.049960,NaN,6.098187,1.205493,NaN,NaN,12110.011237
min,18.000000,NaN,15.960000,0.000000,NaN,NaN,1121.873900
25%,27.000000,NaN,26.296250,0.000000,NaN,NaN,4740.287150
50%,39.000000,NaN,30.400000,1.000000,NaN,NaN,9382.033000
75%,51.000000,NaN,34.693750,2.000000,NaN,NaN,16639.912515
max,64.000000,NaN,53.130000,5.000000,NaN,NaN,63770.428010

#### sex vs smoker

In [35]:
sex_smo = pd.crosstab(index = ins_data.sex, columns = ins_data.smoker)

In [36]:
chi2_score, p_val, dof, expected_tab = stats.chi2_contingency(sex_smo)

In [37]:
print("chi2 score is :", chi2_score)
print("p value is :", p_val)
print("degrees of freedom is :", dof)
print("expected table is :", expected_tab)

chi2 score is : 7.39291081459996
p value is : 0.006548143503580696
degrees of freedom is : 1
expected table is : [[526.43348281 135.56651719]
 [537.56651719 138.43348281]]

In [38]:
if (p_val<0.05):
    print('we reject the null hypothesis, here is significant relation between genders and smoking')
else:
    print('we do not reject the null hypothesis, here is no significant relation between genders and smoking')

we reject the null hypothesis, here is significant relation between genders and smoking

#### sex vs children

In [39]:
sex_child = pd.crosstab(index = ins_data.sex, columns = ins_data.children)

In [40]:
chi2_score, p_val, dof, expected_tab = stats.chi2_contingency(sex_child)

In [41]:
print("chi2 score is :", chi2_score)
print("p value is :", p_val)
print("degrees of freedom is :", dof)
print("expected table is :", expected_tab)

chi2 score is : 0.7352123565685106
p value is : 0.9809803915285088
degrees of freedom is : 5
expected table is : [[283.99701046 160.30493274 118.74439462  77.67862481  12.36920777
    8.9058296 ]
 [290.00298954 163.69506726 121.25560538  79.32137519  12.63079223
    9.0941704 ]]

In [42]:
if (p_val<0.05):
    print('we reject the null hypothesis, here is significant relation between genders and children')
else:
    print('we do not reject the null hypothesis, here is no significant relation between genders and children')

we do not reject the null hypothesis, here is no significant relation between genders and children

#### smoker vs region

In [43]:
smo_region = pd.crosstab(index = ins_data.smoker, columns = ins_data.region)

In [44]:
chi2_score, p_val, dof, expected_tab = stats.chi2_contingency(smo_region)

In [45]:
print("chi2 score is :", chi2_score)
print("p value is :", p_val)
print("degrees of freedom is :", dof)
print("expected table is :", expected_tab)

chi2 score is : 7.34347776140707
p value is : 0.06171954839170547
degrees of freedom is : 3
expected table is : [[257.65022422 258.44544096 289.45889387 258.44544096]
 [ 66.34977578  66.55455904  74.54110613  66.55455904]]

In [46]:
if (p_val<0.05):
    print('we reject the null hypothesis, here is significant relation between smoker and region')
else:
    print('we do not reject the null hypothesis, here is no significant relation between smoker and region')

we do not reject the null hypothesis, here is no significant relation between smoker and region

------------------------------------------------------------------------------------------------------------------------------

## ANOVA

In [47]:
data = pd.read_csv("visualization_practice_data.csv")

In [48]:
data.head()

,month_number,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
0,1,2500,1500,5200,9200,1200,1500,21100,211000
1,2,2630,1200,5100,6100,2100,1200,18330,183300
2,3,2140,1340,4550,9550,3550,1340,22470,224700
3,4,3400,1130,5870,8870,1870,1130,22270,222700
4,5,3600,1740,4560,7760,1560,1740,20960,209600

In [49]:
f_val, p_val = stats.f_oneway(data.facecream, data.facewash, data.total_units, data.total_profit)
print(f_val, p_val)

152.28627360267467 2.9793424498644245e-23

-----------------------------------------------------------------------------------------------------------------------------

In [50]:
mtcars_data = pd.read_csv('mtcars.csv')
mtcars_data.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [51]:
f_val, p_val = stats.f_oneway(mtcars_data.cyl, mtcars_data.mpg)
print(f_val, p_val)

156.54097186275342 1.2954488722137534e-18