# List

In [2]:
mylist = [1,2,3,4,5,6,7,8]

In [7]:
mylist.append(10)

In [4]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 10]

In [8]:
mylist.clear()

In [9]:
mylist

[]

In [3]:
mylist = [1,2,3,4,5,6,7,8]

In [4]:
numbers = mylist.copy()

In [5]:
mylist.count(4)

1

In [6]:
mylist.extend(numbers)

In [7]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
mylist.index(8)

7

In [9]:
mylist.insert(10, 12)

In [10]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 12, 3, 4, 5, 6, 7, 8]

In [11]:
mylist.pop(4)

5

In [12]:
mylist

[1, 2, 3, 4, 6, 7, 8, 1, 2, 12, 3, 4, 5, 6, 7, 8]

In [13]:
mylist.remove(1)                                    # Difference between del, remove, and pop on lists
                                                    # a=[1,2,3]
                                                    # a.remove(2)
                                                    # a
                                                    # [1, 3]
                                                    # a=[1,2,3]
                                                    # del a[1]
                                                    # a
                                                    # [1, 3]
                                                    # a= [1,2,3]
                                                    # a.pop(1)
                                                    # 2
                                                    # a
                                                    # [1, 3]

In [14]:
mylist

[2, 3, 4, 6, 7, 8, 1, 2, 12, 3, 4, 5, 6, 7, 8]

In [16]:
mylist.reverse()

In [17]:
mylist

[8, 7, 6, 5, 4, 3, 12, 2, 1, 8, 7, 6, 4, 3, 2]

In [18]:
mylist.sort()

In [19]:
mylist

[1, 2, 2, 3, 3, 4, 4, 5, 6, 6, 7, 7, 8, 8, 12]

# Sets

In [27]:
myset = set("Duplicate")

In [28]:
myset

{'D', 'a', 'c', 'e', 'i', 'l', 'p', 't', 'u'}

In [29]:
myset.add("NotAllowed")

In [30]:
myset

{'D', 'NotAllowed', 'a', 'c', 'e', 'i', 'l', 'p', 't', 'u'}

In [31]:
myset.clear()

In [32]:
myset

set()

In [54]:
myset1 = {1,2,3}
myset2 = {1,3,6}

In [55]:
myset1.difference(myset2)               # value present only in myset1

{2}

In [56]:
myset2.difference(myset1)               # value present only in myset2

{6}

In [57]:
myset1.difference_update(myset2)        # removes values from myset1 which are common in both set

In [58]:
myset1

{2}

In [59]:
myset3 = {3, 7, 9}

In [60]:
myset2

{1, 3, 6}

In [61]:
myset2.difference_update(myset3)        # removes values from myset2 which are common in both set

In [62]:
myset2

{1, 6}

In [63]:
myset3

{3, 7, 9}

In [64]:
myset3.discard(3)

In [65]:
myset3

{7, 9}

In [66]:
myset4 = {"Rohini", "Kanchan", "Pradeep"}
myset5 = {"Kanchan", "Rahul", "Siddharth"}

In [67]:
myset4.intersection(myset5)

{'Kanchan'}

In [70]:
myset4                                            # gives common elements

{'Kanchan', 'Pradeep', 'Rohini'}

In [71]:
myset4.intersection_update(myset5)

In [72]:
myset4                                            # removes all elements which are not present in other set

{'Kanchan'}

In [73]:
myset5

{'Kanchan', 'Rahul', 'Siddharth'}

In [74]:
myset6 = {"pradeep", "sagar", "kannula"}

In [75]:
myset5.isdisjoint(myset6)                           # True if no common items are present in both sets

True

In [76]:
myset7 = {'a','b','c','d'}
myset8 = {'x','y','z','a','b','c','d'}

In [77]:
myset7.issubset(myset8)

True

In [78]:
myset8.issuperset(myset7)

True

In [83]:
myset8.pop()                                             # removes a random element from the set

'c'

In [84]:
myset8

{'a', 'b', 'd', 'x', 'y', 'z'}

In [86]:
myset8.remove('x')

In [87]:
myset8

{'a', 'b', 'd', 'y', 'z'}

In [88]:
myset9 = {1,2,5,8,3,9}
myset10 = {8,5,3,9,10}

In [89]:
myset9.symmetric_difference(myset10)                        # returns which are not common in both the sets

{1, 2, 10}

In [90]:
myset9

{1, 2, 3, 5, 8, 9}

In [91]:
myset9.symmetric_difference_update(myset10)                  # update the symmetric set

In [92]:
myset9

{1, 2, 10}

In [93]:
myset10

{3, 5, 8, 9, 10}

In [94]:
myset11 = {1,2,9,8,10}

In [95]:
myset10.union(myset11)                                         # union of two sets

{1, 2, 3, 5, 8, 9, 10}

In [96]:
myset10

{3, 5, 8, 9, 10}

In [98]:
myset10.update(myset11)                                        # update the union in 1st set

In [99]:
myset10

{1, 2, 3, 5, 8, 9, 10}

# Tuples

In [103]:
mytuple = (4,5,7,4,3,2,4,7,8)

In [104]:
type(mytuple)

tuple

In [105]:
mytuple.count(4)

3

In [106]:
mytuple.index(4)

0

# Dictionaries

In [113]:
details = {"name": ["Reshu", "Garima", "Neha"],
          "age" : [23, 25, 28]}

In [114]:
type(details)

dict

In [115]:
details.keys()

dict_keys(['name', 'age'])

In [116]:
details.values()

dict_values([['Reshu', 'Garima', 'Neha'], [23, 25, 28]])

In [117]:
new = details.copy()

In [118]:
new

{'name': ['Reshu', 'Garima', 'Neha'], 'age': [23, 25, 28]}

In [119]:
x = ('key1', 'key2', 'key3')

In [121]:
dict1 = dict.fromkeys(x)

In [122]:
dict1

{'key1': None, 'key2': None, 'key3': None}

In [126]:
details.get('name')

['Reshu', 'Garima', 'Neha']

In [127]:
details.items()

dict_items([('name', ['Reshu', 'Garima', 'Neha']), ('age', [23, 25, 28])])

In [128]:
details.pop("age")                                        # pop removes last item -FILO - first In Last out

[23, 25, 28]

In [131]:
new

{'name': ['Reshu', 'Garima', 'Neha']}

In [132]:
stu = {'ria': 25, 'rahul': 32, 'neha': 30}

In [133]:
stu

{'ria': 25, 'rahul': 32, 'neha': 30}

In [138]:
stu.setdefault('Nitin', 33)                             #The setdefault() method returns the value of a key 
                                                        #(if the key is in dictionary). If not, it inserts key with a 
                                                        #value to the dictionary.

33

In [137]:
stu

{'ria': 25, 'rahul': 32, 'neha': 30, 'Nitin': 33}

In [140]:
stu.update({'Naveen' : 28})

In [141]:
stu

{'ria': 25, 'rahul': 32, 'neha': 30, 'Nitin': 33, 'Naveen': 28}

In [142]:
details.clear()

In [144]:
details

{}