#### 1. While Loop

###### 1. sum of 10 natural even numbers

In [7]:
i = 0
sum = 0 
while i <= 20:
    if i%2 == 0:
        sum = sum+i
    i = i+1
print ("sum of 10 natural numsers is ", sum)

sum of 10 natural numsers is  110

###### 2. reverse an integer

In [6]:
num = int(input("enter a number"))
rev = 0
while num%10 != 0:
    c = num%10
    rev = rev*10+c
    num = num//10
print(rev)

enter a number678
876

#### 2.  for loop

###### 1. print all the even numbers between given numbers

In [12]:
num1 = int(input("enter the min number"))
num2 = int(input("enter the max number"))
for i in range(num1, num2+1):
    if i%2 == 0 :
        print(i)

enter the min number10
enter the max number28
10
12
14
16
18
20
22
24
26
28

###### 2. pattern printing

In [14]:
num = int(input("enter a number"))
for i in range (1, num+1):
    for j in range (1, i+1):
        print("#", end ="")
    print("\r")

enter a number7
#
##
###
####
#####
######
#######

#### 3. ifelse

###### 1. positive or negative

In [23]:
num1 = int(input("enter a number"))
if num1 > 0 : 
    print("Positive")
else:
    if num1 < 0 :
        print("Negative")
    else:
        print("Zero")

enter a number-9
Negative

###### 2. name matching

name1 = input("enter a name -")
name = "Rohini"
if name1 == name:
    print("Hello Rohini welcome")
else:
    print("Sorry {} i dont know you".format(name1))

#### 4. if elif else

###### 1. greater than equal to

In [19]:
num1 = int(input("enter a number"))
num2 = int(input("enter a number"))
if num1>num2:
    print ("{} is greater than {}".format(num1, num2))
elif num1<num2:
    print ("{} is less than {}".format(num1, num2))
else :
    print("both are equal")

enter a number10
enter a number12
10 is less than 12

#### 2. student result

In [4]:
p = int(input("enter the percentage -"))
if p >= 70:
    print("first division")
elif 50<=p<70 :
    print("second division")
elif 30<=p<50:
    print("thirt division")
else:
    print("Fail")

enter the percentage -57
second division

#### 5. user defined functions without for loop, if loop

###### 1.Birthday wish print

In [6]:
def bday(name):
    print ("Happy birthday to you dear {}".format(name))

In [7]:
bday('Rohan')

Happy birthday to you dear Rohan

###### 2. square

In [8]:
def square(num):
    return num*num

In [9]:
square(6)

36

#### 6.  user defined functions with for loop

###### 1. reverse pyramid pattern

In [34]:
def rev_py(n):
    for i in range (n, 0, -1):
        for j in range (1, i+1):
            print(j, end = " ")
        print("")

In [30]:
rev_py(6)

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

#### 2. Square pattern

In [40]:
def square_pattern(n):
    for i in range (1, n+1):
        for j in range (1, n+1):
            print("@", end = " ")
        print("")

In [42]:
square_pattern(6)

@ @ @ @ @ @
@ @ @ @ @ @
@ @ @ @ @ @
@ @ @ @ @ @
@ @ @ @ @ @
@ @ @ @ @ @

#### 7. user defined functions with for loop and if loop

###### 1. print reverse mirrored right angle pyramid

In [44]:
def rev_mir_py(n):
    for i in range (1, n+1):
        for j in range (1, n+1):
            if (j<i):
                print (' ', end = ' ')
            else: 
                print ('*', end = ' ')
        print("")

In [45]:
rev_mir_py(6)

* * * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

###### 2. print mirrored right angle pyramid

In [46]:
def mir_r_py(n):
    for i in range (1, n+1):
        for j in range (1, n+1):
            if(j <= n-i):
                    print (' ', end = ' ')
            else: 
                print ('*', end = ' ')
        print("")

In [47]:
mir_r_py(5)

        *
      * *
    * * *
  * * * *
* * * * *

#### 8. break

###### 1.

In [50]:
for i in 'alphaneumaric':
    if i == 'e':
        break
    else:
        print(i, end= " ")

a l p h a n

###### 2.

In [53]:
num = 20
while num>7:
    num = num-1 
    if num == 10:
        break
    else:
        print(num, end = " ")

19 18 17 16 15 14 13 12 11

#### 9. continue

#### 1.

In [59]:
for i in 'alphaneumaric':
    if i == 'e':
        continue
    else:
        print(i, end= " ")

a l p h a n u m a r i c

###### 2.

In [58]:
num = 20
while num>7:
    num = num-1 
    if num == 10:
        continue
    else:
        print(num, end = " ")

19 18 17 16 15 14 13 12 11 9 8 7

#### 10. for loop with in operator

###### 1.

In [86]:
for num in (3,1,4,1,5,9):
    print (num)

3
1
4
1
5
9

###### 2.

In [91]:
for i in range(50, 100, 2):
    print(i, end = " ")

50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

###### 11. for loop with if statement

###### 1.

In [77]:
for i in range(1, 50):
    if i%15 ==0 :
        print("{} is dividible by 15".format(i))

15 is dividible by 15
30 is dividible by 15
45 is dividible by 15

###### 2.

In [82]:
for letter in "acquaintance":
    if letter != "a" :
        print(letter, end = " ")

c q u i n t n c e

###### 12. for loop with not in operator

In [103]:
num = 5, 10, 15, 20, 25, 30
for i in num:
    if i not in (10,25): 
        print ("List Item: " ,i)

List Item:  5
List Item:  15
List Item:  20
List Item:  30

In [113]:
num1 = 6, 5, 3, 8, 4, 2, 5, 4, 
num2 = 6, 4,
sum = 0
for i in num1:
    if i not in (num2):
        sum = sum+i
print("The sum is", sum)

The sum is 23

#### 13. if with in operator

###### 1.

In [62]:
vowels ="A", "E", "I","O", "U"
n = input("Enter a letter ")
if n.upper() in vowels:
    print("Vowel")
else:
    print("Consonant")

Enter a letter o
Vowel

###### 2.

In [69]:
name1 = "ram","pradeep","kanchan","varsha"
name2 = "ajay", "varsha","chandan","ram"
for i in name1:
    if i in name2:
        print("overlapping")
    else:
        print("Not overlapping")

overlapping
Not overlapping
Not overlapping
overlapping

#### 14. if with not in opearator

###### 1.

In [ ]:
vowels ="A", "E", "I","O", "U"
n = input("Enter a letter ")
if n.upper() not in vowels:
    print("Consonant")
else:
    print("Vowel")

###### 2.

In [72]:
review ="I strongly recommend to the people who are looking for data science course." 
if "people" not in review:
    print("not found")
else:
    print("found")

found